<div class="flex items-center justify-center h-screen">
  <div
    class="bg-white dark:bg-slate-500 rounded-lg shadow-lg p-8 transform rotate-3"
  >
    <h1 class="text-3xl font-bold mb-4 text-center">Reset Your Password</h1>
    <form (submit)="handleResetPassword()">
      <div class="mb-4">
        <label class="block mb-1 text-gray-800 dark:text-white"
          >New Password:</label
        >
        <input
          type="password"
          [(ngModel)]="password"
          placeholder="New password"
          name="password"
          class="border border-gray-300 p-2 w-full rounded focus:outline-none focus:border-black"
        />
      </div>
      <div class="mb-4">
        <label class="block mb-1 text-gray-800 dark:text-white"
          >Confirm Password:</label
        >
        <input
          type="password"
          [(ngModel)]="confirmPassword"
          placeholder="Confirm new password"
          name="confirmPassword"
          class="border border-gray-300 p-2 w-full rounded focus:outline-none focus:border-black"
        />
      </div>
      <button
        type="submit"
        class="font-bold w-full px-4 py-2 text-sm rounded-lg text-white bg-black opacity-80 hover:opacity-100"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
