<ul class="space-y-4 mt-6">
  <li>
    <a
      href="/dashboard"
      class="flex items-center text-gray-400 hover:text-gray-900 transition duration-300 ease-in-out"
    >
      <i class="fas fa-chart-bar text-xl mr-2"></i> Dashboard
    </a>
  </li>
  <li>
    <div class="border-t border-gray-600 mt-4 pt-4"></div>
  </li>

  <li>
    <a
      href="/user-management"
      class="flex items-center text-gray-400 hover:text-gray-900 transition duration-300 ease-in-out"
    >
      <i class="fas fa-user text-xl mr-2"></i> Users
    </a>
  </li>
  <li>
    <a
      href="/products/index"
      class="flex items-center text-gray-400 hover:text-gray-900 transition duration-300 ease-in-out"
    >
      <i class="fas fa-list text-xl mr-2"></i> Products
    </a>
  </li>
  <li>
    <a
      href="/categories/index"
      class="flex items-center text-gray-400 hover:text-gray-900 transition duration-300 ease-in-out"
    >
      <i class="fas fa-tag text-xl mr-2"></i> Categories
    </a>
  </li>
  <li>
    <a
      href="/orders/all-orders"
      class="flex items-center text-gray-400 hover:text-gray-900 transition duration-300 ease-in-out"
    >
      <i class="fas fa-shopping-cart text-xl mr-2"></i> Orders
    </a>
  </li>
</ul>
